body{
    background: #FAFAFA;

}
#allcollected{
    color: black;
    padding: 30px 50px 50px 50px;
   
}
.head{
    color: black;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
}
#collect{
    background-color: white;
    margin-top: 50px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
    width:auto;
    height: 500px;
}
.text{
    color: black;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin: 90px 0px 0px 70px;
    position: absolute;
    width: 295px;
}
p{
    font-size: small;
    padding: 20px 0px 45px 0px;
}
button{
    color: white;
    background-color: black;
    width: 20em;
    height: 4em;
    border: none;
    cursor: pointer;
    
}
.pagination{
    display: inline-block;
    display: block;
    padding-top: 50px;
}
.pagination a{
    text-align: center;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    padding: 4px 10px;
    color: black;
    float: left;
    border: 1px solid #707070 ;
    border-radius: 50%;
    margin-right: 13px;
}
.pagination a:hover{
    background-color: black;
    color: white;
    border: none;
}
.imgs{
    // margin: 0px 0px 0px 50px;
    position: absolute;
    display: inline-flex;
    margin-left: -8em;
}
.imgs .img1{
    padding-top: 60px;
    margin-right: 4em;
}
.img2{
    padding-top: 10px;
    float: right;
    width: 50%;
    margin-left: 2em;
}
img{
    padding-top: 18px;
}